<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Illuminati Ghana</title>
  <!-- Font Awesome -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="/css/uikit.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="/css/customstyles.css" rel="stylesheet">

  <!--Floating WhatsApp css-->   
<link rel="stylesheet" href="floating-wpp.min.css">   

</head>

<body>

  <nav class="uk-navbar-container uk-margin" uk-navbar="mode: click" id="top-nav">
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">

            <li class="uk-active"> <a href="https://wa.me/00233553849889/?text=Chat with Illuminati order of Ghana" target="_blank"><span uk-icon="whatsapp"></span> +233 553 849 889</a> </li>

        </ul>

    </div>
</nav>
  <nav class="uk-navbar-container main-nav uk-margin" uk-navbar>
    <div class="uk-navbar-center">

        <div class="uk-navbar-center-left"><div>
            <ul class="uk-navbar-nav">
                <li><a href="#apply" uk-scroll>Membership</a></li>
            </ul>
        </div></div>
        <a class="uk-navbar-item uk-logo" href="#"><img src="images/illulogo.jpg" alt=""></a>
        <div class="uk-navbar-center-right"><div>
            <ul class="uk-navbar-nav">
                <li><a href="#about-us" uk-scroll>Know us</a></li>
            </ul>
        </div></div>

    </div>
</nav>
     