<%- include("./partials/header") %>

<div class="container service-container">

  <!-- Section -->
  <section>
    <h3 class="font-weight-bold text-center dark-grey-text pb-2">Our Services</h3>
    <hr class="w-header my-4">
    <p class="lead text-center text-muted pt-2 mb-5">Join thousands of satisfied customers who worked with us
      globally.</p>

    <div class="row">

      <div class="col-md-6 col-xl-4 mb-4">
        <div class="card text-center bg-success text-white">
          <div class="card-body">
            <p class="mt-4 pt-2"><img src="/images/service-icon1.png" alt=""></p>
            <h5 class="font-weight-normal my-4 py-2"><a class="text-white" href="#">General Construction</a></h5>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <div class="card text-center">
          <div class="card-body">
            <p class="mt-4 pt-2"><img src="/images/service-icon2.png" alt=""></p>
            <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="#">Pillar Construction</a></h5>
            <p class="text-muted mb-4">Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <div class="card text-center danger-color lighten-1 text-white">
          <div class="card-body">
            <p class="mt-4 pt-2"><img src="/images/service-icon3.png" alt=""></p>
            <h5 class="font-weight-normal my-4 py-2"><a class="text-white" href="#">Building/Land Sales</a></h5>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4">
        <div class="card text-center default-color">
          <div class="card-body">
            <p class="mt-4 pt-2"><img src="/images/service-icon4.png" alt=""></p>
            <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="#">Construction Machines Hirehring</a></h5>
            <p class="text-muted mb-4">Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card text-center primary-color">
          <div class="card-body">
            <p class="mt-4 pt-2"><img src="/images/service-icon5.png" alt=""></p>
            <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="#">Construction Machines Hirehring</a></h5>
            <p class="text-muted mb-4">Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="card text-center ">
          <div class="card-body">
            <p class="mt-4 pt-2"><img src="/images/service-icon6.png" alt=""></p>
            <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="#">Sand/Stone Supply</a></h5>
            <p class="text-muted mb-4">Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat.</p>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- Section -->

</div>

<%- include("./partials/footer") %>